.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_register{
    width: 700px;
}

.card{
    justify-content: center;
    border: 6px solid #3466AF;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

.pokemon_pokeapi{
    width: 700px;
}

.pokemon{
    width: 450px;
}


.form-group{
    font-weight: bold;
    font-size: 20px;
}

.form-control{
    border-color: black;
}

.nav-link{
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.column, .data, .table, .col{
    width: 1000px;
    border: #3466AF;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.pokemon_img{
    width: 50%;
}

.table{
    border-color: white;
    background-color: black;
    border-style: solid;
}

.btn-outline-success{
    color: white;
    border-color: black;
    border-style: solid;
    background-color: red;
}

.btn-primary{
    color: white;
    border-color: black;
    border-style: solid;
    background-color: red;
    width: 100%;
    padding: 10px;
    flex-shrink: 1;
    align-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-content: center;

}

.btn-primary1{
    align-content: center;
}

body{
    background-color: #FFCB05;
}

.container-fluid{
    background-color: #3466AF;
}

.animate__rotateIn{
    width: 100px;
}

.form-control{
    flex-shrink: 1;
    padding: 10px;
    /* margin-left: 350px; */
}

.footer{
    background-color: #3466AF;
    color: white;
    font-weight: bold;
    border: 8px solid white;
}

.pokeball2{
    width: 150px;
}

.video{
    justify-content: right;
    align-items: right;
    width: 500px;
}
