<div class="footer style="background-color: #3466AF"  style="background-color: #3466AF">
<footer class="background-color: #3466AF"  style="background-color: #3466AF">
  <section class="icons">
    <!-- Facebook -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

    <!-- Twitter -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>

    <!-- Google -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>

    <!-- Instagram -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>

    <!-- Linkedin -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    <!-- Github -->
    <a class="btn btn-primary1 btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
  </section>
  <!-- Section: Social media -->

    <!-- Grid container -->
    <div class="container p-4" style="background-color: #3466AF">
      <!--Grid row-->
      <div class="row my-4" style="background-color: #3466AF">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="background-color: #3466AF">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;" >
            <img class="pokeball2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/800px-Pokebola-pokeball-png-0.png">
          </div>

          <p class="text-center">A Poké Ball (sometimes spelled as Pokéball) is a round device used in the Pokémon series to catch and contain Pokémon.</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0"  style="background-color: #3466AF">
          <h5 class="text-uppercase mb-4"><strong>Gotta Catch 'Em All!</strong></h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Pikachu</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Ditto</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Charmander</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Bulbasaur</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Ivysaur</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Venusaur</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="video ratio ratio-16x9">
          <iframe
            src="https://youtube.com/embed/rg6CiPI6h2g"
            title="YouTube video"
            allowfullscreen
          ></iframe>
        </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #3466AF">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</div>