{% extends 'base.html' %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
<br>
<h1 class="pokemon_home_page"><img src="https://previews.dropbox.com/p/thumb/AB2RTi1rW42nKjRUxJiJMVGK9GUQfUIcFdr0dZNZstSj_bY6osHcesRpmtWef0zpxwaMoIAE-TUKmjGZIApBaB3quVSDBOYQ6NICNva6gLoWCovmyyynyZgYim0Iz-w44dt3OC3fieUeVRfiKL6ITSr2rs427pTGtDLrm1NdrQbrp73vQNb5yGnqyEoPLZDh2g4vMcz-UYRPrzCqx6guJ9hlJwIxtDVQyf7wH1I_NgIPp35QNnpCqwmR8fytNlZldjkyFKTHnsCxp189WzWvump-q_M7hTo1IX4cTOhcmDpEnu9-mjzX24g0apmjjep7BIyvwMeULKq5ajIobcMn_XcCeeo7X09elAO-a1QF5Dh6uAfQf50YK2wqtY0zrrp13nM/p.png"></h1>
{% endblock %}