{% extends 'base.html' %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://preview.redd.it/6d5nsbgbu6b51.jpg?auto=webp&s=0eee1eed507709a79ecfd28419299342208558e2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.hdqwalls.com/download/pokemon-detective-pikachu-5k-en-5120x2880.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://1.bp.blogspot.com/-kSkSMVhnHm4/XLy6_I8fVBI/AAAAAAAAFfo/VocMV3zCdxEvCEzM8iW4g8wmetqQbe0zwCKgBGAs/w0/detective-pikachu-uhdpaper.com-4K-12.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}