{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="box">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <body>
  <br>
  <div class="center">
    <img class="pokemon" src="https://previews.dropbox.com/p/thumb/AB0XIbuAQ3UdMZZ5YTRSE2KoSGuad4T4BZCdburByVsUCqWxNtKr3Uo-JlpXGbGh2h4nO3N_As8FjCfTl1VajmI9R26056WvFu1ISuFAyz4kHAf3PN0Q-TT5rcetpyo46ObZshYK35isZ-YT_QmQ8HvjNi39psQgIFD92r7wBqMJJFo5FWvTnqbZm83pl28U4prrledFTPtvCGB_bD-2dalUpIlyapBhFsL66McaE_JZ71_I0-a0PosK7HzZF8H3fjHUAWDg51d72064M6zzkYYggjAKFn1fzg19HJxVQFJ_bKh1J5uD-EiyVqU3mCjfrTF2pwYyo000117wGiMX4JWBgYQafrf_HVd074WRgDCixQ9Gs6QKbs86LCQJh3jIKcA/p.png" alt="">

      <form action="{{url_for('login')}}" method="POST">
        {{form.hidden_tag()}}
            <div class="form-group">{{form.email.label()}}{{form.email(class='form-control', placeholder='Email')}}</div>
          <br>
            <div class="form-group">{{form.password.label()}}{{form.password(class='form-control', placeholder='Password')}}</div>
          <br>
            {{form.submit_btn(class='btn btn-primary')}}<div style="color:red"><small>{{error}}</small></div>
        </form>
    </div>   
  </body>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}