{% extends 'base.html' %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
  <h1>Pokemon Page</h1>
  <form action="/pokeapi" method="POST">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.pokemon_names.label()}}
        {{form.pokemon_names(class="form-control")}}
      </div>
      {{form.submit_btn(class="btn btn-primary")}}
    </form>
  
  {% if get_pokemon_info %}
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Abilities</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Front Shiny URL</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
          </tr>
        </thead>
        <tbody>
          {% for pokemon in get_pokemon_info.values() %}
          <tr>
            <th scope="row">{{pokemon}}</th>
            <td scope="row">{{'Abilities'}}</td>
            <td scope="row">{{'BaseExperience'}}</td>
            <td scope="row">{{'FrontShinyURL'}}</td>
            <td scope="row">{{'AttackBaseStat'}}</td>
            <td scope="row">{{'HPBaseStat'}}</td>
            <td scope="row">{{'DefenseBaseStat'}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
{% endblock %}
