{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="box">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
  <img class="pokemon" src="https://previews.dropbox.com/p/thumb/AB3S6Tm7DvZAPi0gKWAhKw7nYPOJYbrtq6VB_Ze4d71tYa6SyUQ5yHCcrKgB58qR9X-dIOo_iiHqMyyj0XHRk_6gP4MQpUZRAxIcAsbnRah5uU9EEVgbF9BgqR5YT9L3ebKaj45dBh7hbDZNLoqjDhzHma2LqD9iyEOEyYrAX3rNJtasanKm7cAKLz0Tj2a534Z2XoREJn3RcZ6LkhMpv35KcY1HpYMkwBmhJc4Sfaf1fAeO3EVYTOxc0DG3iID0aeaJxZ_uqYWN-rkPEsC91VM0K6lDioxlpwlkzCpO1kka_QqaJZSlQuUui7084sKtwmBP2D_lEXcaY5tHYafZ6_TfViUkAUo19ES6oQWed2NzWY8SuQ0nLM1rhFxcClSaP4Y/p.png" alt="">
<form action="{{url_for('auth.register')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.first_name.label()}}
      {{form.first_name(class='form-control', placeholder='Enter First Name')}}
    </div>
    <br>
    <div class="form-group">
        {{form.last_name.label()}}
        {{form.last_name(class='form-control', placeholder='Enter Last Name')}}
      </div>
      <br>
      <div class="form-group">
        {{form.email.label()}}
        {{form.email(class='form-control', placeholder='Enter Email')}}
      </div>
      <br>
    <div class="form-group">
        {{form.password.label()}}
        {{form.password(class='form-control', placeholder='Enter Password')}}
    </div>
    <br>
    <div class="form-group">
        {{form.confirm_password.label()}}
        <br>
        {{form.confirm_password(class='form-control', placeholder='Confirm Password')}}
    </div>
    <br>
    {{form.submit_btn(class='btn btn-primary')}}
    <div style="color:red">
      <small>{{error}}</small>
    </div>
    <br>
</form>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}