{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<br>
<h1 class="pokemon_sign_up_page"><img src="https://previews.dropbox.com/p/thumb/AB0WscuRAC4GqsqaBsBKap0SsBNl9U0lfmBT663Re27LTlIJf6Sey8Ao2xbIXbY-X8-xBDjzEfDuFJvwkAXh7ow9XuyeHMtqVTwjFCfkQj9WOXvP-N-W9uC_822_C5e6NKmmwt8-_y5g5hGmh2hEOLiSl_8oq7wVM81Yb6YSrIgbZ_y4QnXJRMGBCaVvOM5bOOKa3oQo3VY44FS1pRoPC3YFOg6v6Q67QC0MPFTpf9NTkp1RmuY_ARnJkioxS0mimK93VGhKClJ7-TknN4s1eCoDlnUCT-SA_ETIBFDIWd7b5sJ4XxDrmcI05a4YW0MIWCohYfMqq5kBVKc4B-TIx7zjpNG36farVb3oRUsNaZOYJCQKuiLAIXScFir4K9WM_6k/p.png" alt=""></h1>
<br>
<form action="{{url_for('sign_up')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label()}}
      {{form.email(class='form-control')}}
    </div>
    <br>
    <div class="form-group">
      {{form.password.label()}}
      {{form.password(class='form-control')}}
    </div>
    <br>
    {{form.submit_btn(class='btn btn-primary')}}
    <div style="color:red">
      <small>{{error}}</small>
    </div>
</form>
{% endblock %}